* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

input:focus {
  outline: none;
  border: none;
  border-top-right-radius: 10px;
}

input:active {
  outline: none;
  border: none;
  border-top-right-radius: 10px;
}
